


// Colors
$accentColor: #FC9B09;
$primaryColor: #fff;
$secondaryColor: #C7C7C7;
$textColor: #37373F;
$textColorLight: #B3B3B3;
$linkColor: #5286EC;
$bgFooterColor: #faf9f8;


$breakpoints: (
	xs: 576px,
	sm: 768px,
	md: 1280px,
	lg: 1440px,
	el: 1920px
);

%container {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
	@include media (xs) {
		padding: 0 35px;
	}

	@include media (sm) {
		padding: 0 50px;
	}
	@include media (md) {
		padding: 0 15px;
	}	
}
