.header {
	padding-top: 10px;

	// .header__menu
	&__menu {
		background-color: #fff !important;
		padding-left: 33px;
		padding-right: 33px;
	}

	// .header__logo
	&__logo {
		@include wh(26px);
		background-color: #5E81FE;
		border-radius: 50%;

	}

	// .header__btn
	&__btn {
		@include wh(113px, 43px);
		background-color: #D2E1FF;
		border-radius: 2px;
		@include font ("Quicksand_Bold", 13px, 16px, center);
		color: #3A79FF;
		margin-left: 28px;

		border: none;
	}
}