.header {
	padding-top: 10px;

	// .header__menu
	&__menu {
		background-color: #fff !important;
	}

	// .header__logo
	&__logo {
		@include wh(26px);
		background-color: #5E81FE;
		border-radius: 50%;

	}

	// .header__btn
	&__btn {
		@include wh(110px, 40px);
		background-color: #D2E1FF;
		border-radius: 2px;
		@include font ("Quicksand_Bold", 13px, 16px, center);
		color: #3A79FF;
		margin: 0 35px;
	}
}

.container {}

.navbar {}

.navbar-expand-lg {}

.navbar-light {}

.bg-light {}

.container-fluid {}

.navbar-brand {
	margin-left: 35px;
	margin-right: 63px;
}

.navbar-toggler {}

.navbar-toggler-icon {}

.collapse {}

.navbar-collapse {}

.menu {

	// .menu__item
	&__item+&__item {
		margin-left: 27px;
	}


	// .menu__link
	&__link {
		@include font ("Quicksand__Medium", 12px, 15px, center, capitalize);
		letter-spacing: 0.05em;
		color: #697CA6 !important;
		text-shadow: 0px 0px 5px #E6E6E6;
	}
}

.navbar-nav {}

.nav-item {}

.nav-link {}

.socials {

	// .socials__item
	&__item+&__item {
		margin-left: 10px;
	}

	// .socials__link
	&__link {}

	// .socials__icon
	&__icon {
		@include wh(9px, 17px);
	}
}

.nav-item {}

.nav-link {}


.nav-item {}

.socials-link {}

.nav-link {}

.socials-icon {}


.d-flex {}

.justify-content-center {}

.align-items-center {}

.socials-link {}

.socials-icon {}

.btn {}

.btn-outline-success {}