.hero-image {
	background: url("../images/hero-img/hero-clouds.svg") center no-repeat,
		linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
	border-top: 1px solid #D8E3FE;
	padding: 90px 0 208px;
	position: relative;
	max-height: 585px;
	// background-image: url("../images/hero-img/hero-clouds.svg");
	// background:
	// 	url(../assets/images/play/Group\ 80.svg) 300px 400px no-repeat,
	// 	url(../assets/images/play/Ellipse.png) 15% 10% no-repeat,
	// 	url(../assets/images/play/Ellipse1.png) left 20% no-repeat,
	// 	url(../assets/images/play/Ellipse2.png) 18% 60% no-repeat,
	// 	url(../assets/images/play/Ellipse3.png) 95% 5% no-repeat,
	// 	url(../assets/images/play/Ellipse4.png) 90% 80% no-repeat,
	// 	url(../assets/images/play/Ellipse5.png) right 68% no-repeat,
	// 	linear-gradient(180deg, #e6ecfc 0%, #F1F5FF 100%);


	// .hero-image__indicators

	&__indicators {
		width: 8px !important;
		height: 8px !important;
		border-radius: 50%;
		background-color: #5283FF !important;
		margin-left: 6px !important;
		margin-right: 6px !important;
	}

	// .hero-image__subtitle
	&__subtitle {
		@include font ("Roboto__Medium", 10px, 12px, center, uppercase);
		letter-spacing: 0.1em;
		color: #3D4F9F;
		margin-bottom: 20px;
	}

	// .hero-image__title
	&__title {
		@include font ("Quicksand__Regular", 48px, 60px, center);
		color: #3D4F9F;
		margin-bottom: 20px;

		&--accent {
			font-family: "Quicksand__Medium";
		}
	}

	// .hero-image__text
	&__text {
		@include font ("Roboto__Medium", 15px, 29px, center);
		letter-spacing: 0.03em;
		color: #8D96BD;
		max-width: 500px;
		margin: 0 auto 20px;

	}

	// .hero-image__button
	&__button {
		@include flex (center, center);
		@include wh (52px);
		background-color: #FFFFFF;
		box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.6);
		border-radius: 50%;
		margin: 0 auto;
		min-width: 52px;
		min-height: 52px;
	}

	// .hero-image__start
	&__start {
		@include wh (10px, 11px);
		fill: #5E81FF;
	}

	// .hero-image__box
	&__box {
		@include pos (absolute, 19%, $left: 0);
		// !!! added hover 
	}


	// .hero-image__chart
	&__chart {}

	// .hero-image__control-prev
	&__control-prev {}

	// .hero-image__control-prev-icon
	&__control-prev-icon {}

	// .hero-image__control-next
	&__control-next {}

	// .hero-image__control-next-icon
	&__control-next-icon {}
}