.info {
	padding-top: 50px;

	@include media (sm) {
		padding-top: 40px;
	}

	@include media (md) {
		padding-top: 30px;
	}

	.container {
		@extend %container;
	}

	// .info__grid
	&__grid {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 270px 1fr 345px;
		row-gap: 10px;

		@include media (xs) {
			border-bottom: 0.5px solid $secondaryColor;
			grid-template-rows: 270px 1fr 310px;
			row-gap: 20px;
		}

		@include media (sm) {
			grid-template-rows: 295px 1fr 225px;
			row-gap: 10px;
		}

		@include media (md) {
			grid-template-columns: 1fr 520px;
			grid-template-rows: 1fr 225px;
		}
	}

	// .info__box
	&__box {
		@include media (md) {
			&:nth-child(2) {
				order: -1;
			}
		}
	}

	// .info__title
	&__title {
		@include font (18px, 26px, 500);
		margin-bottom: 10px;

		@include media (xs) {
			margin-bottom: 15px;
		}

		@include media (md) {
			margin-bottom: 10px;
		}
	}

	// .info__text
	&__text {
		@include font (16px, 24px);
		margin-bottom: 38px;

		@include media (xs) {
			margin-bottom: 22px;
		}

		@include media (sm) {
			max-width: 590px;
		}

		@include media (md) {
			margin-bottom: 20px;
		}

	}

	// .info__inner
	&__inner {
		position: relative;
		margin-bottom: 20px;

		&::after {
			@include pseudo;
			@include background (url("../images/photo-package/Arrow.svg"));
			@include wh-px (11, 6);
			@include pos (absolute, $top: 10px, $left: 105px);
		}
	}

	// .info__link
	&__link {
		@include font (17px, 25px, 500);
		color: $linkColor;
		letter-spacing: -0.6px;
	}
}