.main {
	color: $primaryColor;
	@include background(url("../images/main-block/main-block-bg.jpg"));
	background-position: 63%;

	@include media (sm) {
		background-size: 230%;
		background-position: 56%;
	}

	@include media (md) {
		background-size: 140%;
		background-position: 50%;
	}

	@include media (lg) {
		background-size: 134%;
	}

	@include media (el) {
		background-position: center;
		background-size: cover;
	}

	.container {
		@extend %container;
	}

	// .main__inner
	&__inner {
		@include flex(center, $flex-direction: column);
		height: 655px;

		@include media(sm) {
			height: 840px;
		}
	}

	// .main__title
	&__title {
		@include font(32px, 39px, 700);
		color: $primaryColor;
		max-width: 247px;
		margin-bottom: 35px;

		@include media (xs) {
			margin-top: 20px;
		}

		@include media (sm) {
			@include font (40px, 49px);
			margin-bottom: 25px;
			margin-top: 35px;
			max-width: 600px;
		}

		@include media (md) {
			max-width: 700px;
			margin-bottom: 25px;
		}

		@include media (lg) {
			max-width: 900px;
		}

		span {
			color: $accentColor;
		}
	}

	// .main__price-box
	&__price-box {
		@include wh-px(200, 86);
		@include background(url("../images/main-block/main-block-price-box.svg"));
		@include flex(space-around);
		margin-bottom: 10px;
		border-radius: 5px;

		@include media (sm) {
			@include wh-px(224, 96);
		}
	}

	// .main__wrapper
	&__wrapper {
		@include flex(space-between, $flex-direction: column);
		padding: 8px 0 18px 16px;

		@include media (sm) {
			padding: 10px 0 12px 10px;
		}
	}

	// .main__price-label
	&__price-label {
		@include font(18px, 27px);

		@include media (sm) {
			@include font (20px, 23px);
		}
	}

	&__price {
		@include font(30px, 45px, 800);

		@include media (sm) {
			@include font (35px, 50px);
		}
	}

	// .main__percent
	&__percent {
		@include wh (77px);
		transform: translateY(4px);

		@include media (sm) {
			@include wh (82px);
			margin-left: -40px;
		}
	}

	// .main__btn
	&__btn {
		@include wh(275px, 68px);
		@include font(16px, 20px, 900, center);
		@include border(3px, solid, $primaryColor);

		border-radius: 7px;
		margin-bottom: 15px;

		@include media (sm) {
			width: 304px;
			@include font (18px, 22px);
		}
	}
}