.map {
	@include media (md) {
		position: relative;
		margin-top: 30px;
	}

	// .map__location
	&__location {
		@include media (xs) {
			height: 509px;
		}
	}

	// .map__wrapper
	&__wrapper {
		@include flex ($align-items:center, $flex-direction: column);
		@include wh(274px, 380px);
		border: 1px solid $secondaryColor;
		margin: 50px auto 40px;
		padding-top: 50px;

		@include media (xs) {
			width: 400px;
		}

		@include media (md) {
			display: none;
		}
	}

	// .map__slider
	&__slider {
		width: 100%;
	}

	// .map__content
	&__content {
		padding-left: 30px;
		margin-top: 35px;

		@include media (xs) {
			padding-left: 20px;
		}

		@include media (md) {
			padding-left: 0;
			margin-top: 5px;
		}

	}

	// .map__photo-box
	&__photo-box {
		@include flex ($align-items: flex-start, $flex-direction: row);

		@include media (xs) {
			justify-content: flex-start;
		}
	}

	.slick-initialized .slick-slide {
		@include flex (center, center);
		margin-bottom: 5px;
	}

	.photo-box {

		// .photo-box__pseudo
		&__pseudo {
			margin-bottom: 0;

			&::before {
				display: none;
			}
		}

		// .photo-box__img
		&__img {
			@include wh(67px);
			margin-right: 10px;
		}

		// .photo-box__wrap
		&__wrap {
			@include flex (flex-start, flex-start);
		}

		// .photo-box__title
		&__title {
			@include font (16px, 20px);

			@include media (md) {
				@include font (18px, 22px);
			}
		}

		// .photo-box__text
		&__text {
			text-align: left;
			margin-bottom: 5px;
		}

		// .photo-box__link
		&__link {
			text-align: left;

			@include media (xs) {
				max-width: 155px;
			}

			@include media (md) {
				max-width: 100%;
			}

		}
	}
}