.photo-package {
	margin: 0 auto;
	padding-top: 60px;

	@include media (lg) {
		padding-top: 20px;
	}

	.container {
		@extend %container;

		padding-right: 0;

		@include media (sm) {
			padding-right: 50px;
		}

		@include media (md) {
			padding-right: 15px;
		}
	}

	// .photo-package__title
	&__title {
		@include font (26px, 32px, $text-align: center);

		max-width: 287px;
		margin: 0 auto 35px;

		@include media (sm) {
			max-width: 100%;
			text-align: left;
			@include font (20px, 29px, 500);
			margin-bottom: 25px;
		}

		@include media (md) {
			@include font (28px, 41px);
			margin-bottom: 40px;
		}

		@include media (lg) {
			@include font (20px, 29px);

		}
	}


	// .photo-package__wrapper
	&__wrapper {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: 1fr;
		gap: 12px;
		overflow-x: auto;
		margin-bottom: 10px;

		@include media (sm) {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(4, 1fr);
			gap: 10px;
			max-width: 568px;
			margin: 0 auto 20px;




			@include media (md) {
				grid-template-columns: repeat(4, 1fr);
				grid-template-rows: repeat(2, 1fr);
				overflow-x: inherit;
				max-width: 100%;
				column-gap: 4px;
			}

			@include media (lg) {
				column-gap: 11px;
			}

			@include media (el) {
				padding-right: 0;

			}
		}
	}

	// .photo-package__box
	// &__box {}

	// .photo-package__img
	&__img {
		@include wh (277px, 185px);
		object-fit: cover;
		border-radius: 4px;
	}


	// .photo-package__inner
	&__inner {
		display: none;

		@include media (sm) {
			@include flex (center, center);
			height: 75px;
			border-bottom: 0.5px solid $secondaryColor;
		}

	}

	// .photo-package__show-text
	&__inner {
		@include font (17px, 25px, 500);
		color: $linkColor;
		position: relative;

		&::before {
			@include pseudo;
			@include background (url("../images/photo-package/Arrow.svg"));
			@include wh-px (11, 6);
			@include pos (absolute, $top: 12px, $right: -22px);
		}

		&::after {
			@include pseudo;
			@include background (url("../images/photo-package/Arrow.svg"));
			@include wh-px (11, 6);
			@include pos (absolute, $top: 12px, $left: -22px);
		}
	}

}