.photo-shoot {
	padding-top: 37px;

	@include media (sm) {
		padding-top: 50px;
	}
	@include media (md) {
		padding-top: 70px;
	}

	.container {
		@extend %container;
	}

	// .photo-shoot__grid
	&__grid {
		display: grid;
		@include media (md) {
		
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 110px repeat(2, 1fr);
		
		column-gap: 37px;
		}
	}


	// .photo-shoot__title
	&__title {
		@include font (28px, 34px, 400, center);
		
		max-width: 185px;
		margin: 0 auto 12px;
		order: -1;

		@include media (sm) {
			@include font (40px, 49px, 500);
			max-width: 285px;
			margin-bottom: 30px;
		}
		@include media (md) {
			margin: 0;
			text-align: left;
		}
	}

	// .photo-shoot__video
	&__video {
		margin-bottom: 30px;

		@include media (sm) {
			margin-bottom: 45px;
		}
		@include media (md) {
			grid-area: 1/2/4/3;
		}

	}
	
		// .photo-shoot__evaluation
		&__evaluation {
			height: 70px;
			@include media (xs) {
				height: 85px;
			}
		}


	
		// .photo-shoot__inner
		&__inner {
			@include media (md) {
				grid-area: 2/1/4/2;
			}
		}


	// .photo-shoot__text
	&__text {
		@include font (14px, 20px);
		
		margin-bottom: 34px;
		max-width: 292px;

		@include media (xs) {

			@include font (18px, 26px);
			max-width: 100%;
			margin-bottom: 15px;
		}

		@include media (sm) {
			max-width: 555px;
		}
	}

	// .photo-shoot__wrapper
	&__wrapper {
		@include flex (center, $flex-direction: column);
		margin-bottom: 35px;

		@include media (xs) {
			margin-bottom: 30px;
		}
	}

	// .photo-shoot__box
	&__box {
		@include flex ($align-items: center);
	}

	&__box+&__box {
		margin-top: 20px;
	}

	// .photo-shoot__svg
	&__svg {
		height: 100%;
	}

	// .photo-shoot__subtitle
	&__subtitle {
		@include font (14px, 20px, 500);
		color: $textColor;
		margin-left: 10px;

	}

}