.reviews {

	@include media (md) {
		padding-top: 130px;
	}

	.container {
		@extend %container;
		// padding-right: 0;

		// @include media (sm) {
		// 	padding-right: 50px;
		// }

		// @include media (md) {
		// 	padding-right: 15px;
		// }
	}

	// .reviews__title
	&__title {
		@include font (26px, 151.16%, 400, center);

		margin-bottom: 40px;
		position: relative;

		@include media (sm) {
			@include font (20px, 29px, 500, left);
		}

		@include media (md) {
			@include font (28px, 146.28%);
		}

		@include media (lg) {
			@include font (20px, 29px);
		}

		&::after {
			display: none;
			content: ":";
			@include pos (absolute, $top:0, $left: 12%);

			@include media (sm) {
				display: block;
			}

			@include media (md) {
				left: 10%;
			}

			@include media (lg) {
				left: 7%;
			}

		}
	}


	// .reviews__article
	&__article {
		margin-bottom: 28px;

		@include media (md) {
			margin-bottom: 30px;
		}

		&:nth-of-type(3) {
			display: none;

			@include media (xs) {
				display: block;
			}
		}
	}


	// .reviews__box
	&__box {
		@include flex ($flex-direction: column);

		@include media (sm) {
			@include flex ($flex-direction: row);
		}
	}


	// .reviews__evaluation
	&__evaluation {
		border: none;
		margin-bottom: 25px;
		min-width: 300px;

		@include media (sm) {
			margin-bottom: 0;
		}

		@include media (lg) {
			align-items: flex-start;
			padding-top: 10px;
		}
	}

	// .reviews__inner
	&__inner {
		padding-left: 20px;



		@include media (sm) {
			align-self: flex-end;
			padding-left: 10px;
			padding-bottom: 5px;

			&--center {
				padding-bottom: 20px;
			}
		}
	}


	// .reviews__span
	&__span {
		@include font (14px, 21px, 400);
		color: $textColorLight;
		position: relative;


		&::before {
			@include pseudo;
			@include background (url("../images/reviews/reviews-vector.svg"));
			@include pos (absolute, $top: 0, $left: -8%);
			@include wh(17px, 15px);

			@include media (sm) {
				left: -9%;
			}

		}
	}

	// .reviews__wrap
	&__wrap {
		padding-bottom: 35px;
		@include flex ($flex-direction: column);
		border-bottom: 0.5px solid $secondaryColor;

		@include media (sm) {
			padding-left: 120px;
			padding-bottom: 25px;
		}

		@include media (md) {
			max-width: 630px;
		}
	}


	// .reviews__text
	&__text {
		@include font (14px, 21px, 400);
		color: $textColor;
		margin: 15px 0 40px;

		@include media (xs) {
			margin-bottom: 15px;

		}

		@include media (sm) {
			@include font (16px, 24px);

			&--top {
				margin-top: 0;
			}
		}

		@include media (md) {
			margin-bottom: 10px;
		}
	}

	// .reviews__date
	&__date {
		@include font (14px, 21px, 400);
		color: $textColorLight;
	}

	// .reviews__link
	&__link {
		@include font (17px, 25px, 500, center);
		color: $linkColor;
		padding: 0 15px 0 0;
		position: relative;

		@include media (sm) {
			padding-right: 0;
			padding-left: 5px;
			padding-top: 10px;
		}

		@include media (md) {
			padding-top: 15px;
		}

		@include media (lg) {
			padding-top: 0;
		}


		&::after {
			@include pseudo;
			@include background (url("../images/reviews/reviews-link-arrow.png"));
			@include pos (absolute, $top:50%, $right:19%);
			@include wh (6px, 11px);

			@include media (xs) {

				right: 32%;
			}

			@include media (sm) {
				transform: rotate(90deg);
				right: 35%;
			}

			@include media (md) {
				right: 41%;
			}
		}

		&::before {
			display: none;

			@include media (sm) {
				@include pseudo;
				@include background (url("../images/reviews/reviews-link-arrow.png"));
				@include pos (absolute, $top:50%, $left:36%);
				@include wh (6px, 11px);
				transform: rotate(90deg);
			}

			@include media (md) {
				left: 41%;
			}
		}
	}


	.evaluation {

		// .evaluation__img
		&__img {
			@include media (sm) {
				@include wh (101px);
			}
		}

		// .evaluation__wrapper
		&__wrapper {
			margin-left: 20px;

			@include media (xs) {
				@include flex ($align-items: flex-start, $flex-direction: column);
			}

			@include media (lg) {
				padding-top: 10px;
			}
		}



		// .evaluation__text
		&__text {
			margin-bottom: 10px;
			@include font (14px, 21px, 400);

			@include media (xs) {
				@include font (14px, 21px);
			}



		}

	}
}