.schedule {
	padding-top: 5px;
	padding-bottom: 45px;

	@include media (xs) {
		padding-top: 20px;
	}

	@include media (sm) {
		padding-top: 47px;
	}

	@include media (md) {
		padding-top: 60px;
	}

	.container {
		@extend %container;
	}

	// .schedule__title
	&__title {
		@include font (26px, 32px, 400, center);

		margin-bottom: 40px;

		@include media (xs) {
			@include font (26px, 38px);
		}

		@include media (sm) {
			@include font (20px, 29px, 500, left);
			margin-bottom: 25px;
		}

		@include media (md) {
			@include font (28px, 41px, 500);
		}

		@include media (lg) {
			@include font (20px, 29px, 500);
		}
	}

	// .schedule__grid
	&__grid {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 60px repeat(2, 1fr) 100px;
		border: 1px solid $secondaryColor;

		@include media (xs) {
			grid-template-rows: 75px repeat(2, 1fr) 130px;
		}

		@include media (md) {
			max-width: 770px;
		}

	}

	// .schedule__box
	&__box {
		border-bottom: 0.5px solid $secondaryColor;
		@include flex (center, flex-start, $flex-direction: column);
		padding: 27px 20px 30px 20px;

		@include media (xs) {
			@include flex (space-between, center, $flex-direction: row);
			padding-top: 15px;
			padding-bottom: 12px;
		}

		@include media (sm) {
			padding: 15px 30px 12px 30px;
		}
	}

	// .schedule__box--up
	&__box--up {
		align-items: center;
		padding: 10px 0 0;

		@include media (xs) {

			padding: 15px 0 0 20px
		}

		@include media (sm) {
			padding-left: 28px;
		}
	}

	// .schedule__wrap
	&__wrap {
		display: flex;
		flex-direction: column;
	}

	// .schedule__button-box
	&__button-box {
		padding: 12px 0 0;

		@include media (xs) {
			padding: 0;
		}

	}

	// .schedule__text
	&__text {
		@include font (18px, 26px, 400);
		display: block;

	}

	&__text {
		margin-top: 7px;
	}

	// .schedule__btn
	&__btn {
		@include wh-px (129, 50);
		@include font (14px, 17px, 500, center);
		color: $accentColor;
		@include border (2px, solid, $accentColor);
		border-radius: 3px;

	}


	// .schedule__evaluation
	&__evaluation {
		border: none;
		justify-content: center;
		padding: 0 0 0 15px;

		@include media (xs) {
			justify-content: flex-start;
		}

		@include media (sm) {
			padding-left: 25px;
		}

	}


}