.map {
	.container {
		@extend %container;
		// &--absolute {
		// 	width: 420px;
		// }
	}
	// .map__map-box
	&__map-box {
		display: none;

		@include media (md) {
			@include wh (420px, 470px);
			background-color: $primaryColor;
			@include border (1px, solid, $secondaryColor);
			@include flex ($flex-direction: column);
			padding: 50px 30px;
			@include pos (absolute, $top: 5%, $left: 70px);
		}
		@include media (lg) {
			left: 150px;
		}
		@include media (el) {
			left: 388px;
		}

	}

	
}



