.photo-box {
	max-width: 275px;
	@include flex (center, center, $flex-direction: column);

	@include media (xs) {
		max-width: 100%;

	}

	// .photo-box__pseudo
	&__pseudo {
		position: relative;
		@include flex (center, center);
		margin-bottom: 20px;


		&::before {
			@include pseudo;
			@include background (url("../images/info/info-hearts.svg"));
			@include wh-px (31, 27);
			@include pos (absolute, $top: -6%, $right: -60%);

			@include media (xs) {
				right: -55%;
			}

		}
	}


	// .photo-box__wrap
	&__wrap {
		@include flex (center, center, $flex-direction: column);
	}


	// .photo-box__title
	&__title {
		@include font (18px, 22px, 500, center);
		color: $textColor;
		margin-bottom: 6px;
	}

	// .photo-box__text
	&__text {
		@include font (14px, 21px, 400, center);
		color: $textColor;
		margin-bottom: 10px;
	}

	// .photo-box__link
	&__link {
		@include font (14px, 21px, 500, center);
		color: $linkColor;
		margin: 0 auto;
		max-width: 200px;
	}
}